.exp-picture-frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exp-img {
  border: solid darkorange;
  max-width: 30vw;
  max-height: 30vw;
  border-width: 10px 10px 10px 10px;
  border-radius: 2%;
  box-shadow: 0 10px 40px -10px orange;
  margin-right: 0;
  margin-top: -0px;
}
.exp-img-blur {
  border: solid darkorange;
  max-width: 30vw;
  max-height: 30vw;
  border-width: 10px 10px 10px 10px;
  border-radius: 2%;
  box-shadow: 0 10px 40px -10px orange;
  filter: blur(4px);
  margin-right: 0;
  margin-top: -10px;
}
.exp-next-button {
  background-color: rgba(0, 255, 255, 0);
  border-color: cyan;
  height: 50px;
  width: 140px;
  letter-spacing: 5px;
  border-style: solid;
  border-width: 2px;
  margin-top: 30px;
  text-shadow: -1px -1px cyan, 1px 1px lime, -1px 1px hotpink, 1px -1px orange;
  box-shadow: -2px -2px cyan, 2px 2px lime, -2px 2px hotpink, 2px -2px orange;
  font-family: metal;
  font-size: xx-large;
  border-radius: 16px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.exp-next-button:active {
  background: linear-gradient(cyan, lime, hotpink, orange, cyan);
  color: black;
  text-shadow: none;
  transform: translateY(4px);
}
.exp-grid-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exp-grid-box1 {
  margin-bottom: 3.5vh;
}

.exp-grid-tile {
  background-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  width: 3vw;
  height: 3vw;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.exp-grid-tile.selected {
  background-color: rgba(255, 3, 3, 0.55);
  border-color: lime;
  border-width: 1px;
}

.exp-grid-row {
  margin: 0;
  padding: 0;
  display: flex;
}

.exp-instructions {
  cursor: default;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-size: 3vw;
  font-family: "metal";
  text-shadow: -1px -1px cyan, 1px 1px lime, -1px 1px hotpink, 1px -1px orange;
}

/* Timer Styles */

.timer-label {
  color: red;
  font-size: 2vw;
  margin: 10px;
  text-shadow: 2px 2px 2px black, 4px 4px rgba(255, 0, 0, 0.5);
  letter-spacing: 0.5vw;
  font-family: metal;
}

/* Media query for smartphones */
@media only screen and (max-width: 600px) {
  .timer-label {
    font-size: 5vw;
  }
  .exp-grid-container {
    margin-top: 4vh;
    margin-bottom: 5px;
  }
  .exp-grid-box1 {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .exp-grid-tile {
    min-width: 3.5vh;
    min-height: 3.5vh;
  }
  .exp-picture-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .exp-img {
    border-width: 10px 10px 5px 10px;
    border-radius: 2% 2% 2% 2%;
    max-width: 35vh;
    max-height: 35vh;
    margin-top: 4vh;
  }
  .exp-img-blur {
    border-width: 10px 10px 5px 10px;
    border-radius: 2% 2% 2% 2%;
    max-width: 35vh;
    max-height: 35vh;
    margin-top: 4vh;
  }

  .exp-instructions {
    margin-top: 20px;
    font-size: 2.5vh;
  }
}
@media only screen and (min-width: 700px) {
  .exp-grid-container {
    margin-top: 4vh;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 700px) {
  .exp-grid-container {
    margin-top: 4vh;
    margin-bottom: 5px;
  }
}
