.settingsBody {
  background-color: black;
  color: white;
  width: 50%;
  height: 50%;
  max-width: 250px;

  padding: 25px;

  font-family: metal;
  letter-spacing: 3px;
  margin: auto; /* Center the element horizontally */
  position: relative; /* Position the element */
  margin-top: 5%;
  border-radius: 15px;
  box-shadow: -2px -2px cyan, 2px 2px lime, -2px 2px hotpink, 2px -2px orange;
}
input[type="range"] {
  position: relative;
  top: 3px;
  margin-bottom: 20px;
}
.settings-h1 {
  margin-top: -5px;
  margin-bottom: 15px;
}
.settings-h2 {
  font-size: 15px;
  font-weight: 100;
  text-decoration: none;
  margin-bottom: 5px;
  margin-top: -10px;
}
.color-picker {
  position: absolute;
  top: 10px;
  margin-top: -10px;

  margin-bottom: 15px;
  left: 14%;
}
.reset {
  letter-spacing: 5px;
  margin-top: 0px;
  margin-bottom: 5px;
}
/* custom checkbox with basecode from w3schools */
.container {
  display: inline-block;
  position: relative;
  margin-right: 10px; /* Adjust the margin based on viewport width */
  padding-left: 15px; /* Adjust the padding based on viewport width */
  margin-bottom: 1.2vw; /* Adjust the margin based on viewport width */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.credits-page {
  margin-top: -40px;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
button {
  font-family: metal;
  letter-spacing: 1.5px;
}

/* password change */

.pwChange-popup {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: grey;
  border: 5px solid rgb(78, 78, 78);
  width: 180px;
  height: 220px;
  padding: 10px;
  z-index: 5;
  border-radius: 5px;
  text-align: center;
  font-size: large;
  font-family: metal;
  margin-top: -150px;
  margin-bottom: -100px;
}
.pwChange-inputs {
  margin-top: 0px;
  margin-bottom: -50px;
  width: 170px;
  color: gray;
  border: 5px solid gray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.pwChange-popup-button {
  margin-top: 0px;
  width: 180px;
  border: 5px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  cursor: pointer;
}
