@font-face {
  font-family: "monofett";
  src: url("./fonts/Monofett-Regular.ttf");
}
@font-face {
  font-family: "metal";
  src: url("./fonts/MetalMania-Regular.ttf");
}

.App {
  text-align: center;
}

.header {
  font-size: 6vw;
  text-shadow: -2px -2px cyan, 2px 2px lime, -2px 2px hotpink, 2px -2px orange;
  margin-top: 5vh;
  font-family: monofett;
  cursor: default;
}

/* modes */
.back-button-h1 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px;
}
.main-menu {
  cursor: default;
  text-shadow: -1px -1px cyan, 1px 1px lime, -1px 1px hotpink, 1px -1px orange;
}
.mode-button-left {
  filter: brightness(95%);
  border-radius: 10px;
  box-shadow: -2px -2px cyan, 2px 2px lime, -2px 2px hotpink, 2px -2px orange;
  font-family: metal;
  width: 42vw;
  height: 42vw;
  max-width: 200px;
  max-height: 200px;
  text-shadow: -1px -1px cyan, 1px 1px lime, -1px 1px hotpink, 1px -1px orange;
  padding: 0;
  cursor: pointer;
  font-size: 200%;
  margin-bottom: 10px;
  margin-right: 5px;
}
.mode-button-right {
  filter: brightness(95%);
  border-radius: 10px;
  box-shadow: -2px -2px cyan, 2px 2px lime, -2px 2px hotpink, 2px -2px orange;
  font-family: metal;
  width: 42vw;
  height: 42vw;
  max-width: 200px;
  max-height: 200px;
  text-shadow: -1px -1px cyan, 1px 1px lime, -1px 1px hotpink, 1px -1px orange;
  padding: 0;
  cursor: pointer;
  font-size: 200%;
  margin-bottom: 10px;
  margin-left: 5px;
}

.mode-button-left:hover {
  filter: brightness(100%);
  transform: scale(0.99);
}
.mode-button-right:hover {
  filter: brightness(100%);
  transform: scale(0.99);
}
.mode-button-left:active {
  filter: brightness(100%);
  transform: scale(0.98);
}
.mode-button-right:active {
  filter: brightness(100%);
  transform: scale(0.98);
}
.back-button {
  position: absolute;
  top: 5px;
  left: 1px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  box-shadow: -1px -1px cyan, 1px 1px lime, -1px 1px hotpink, 1px -1px orange;
  font-family: metal;
  width: 12vw;
  max-width: 40px;
  padding: 0;
  cursor: pointer;
}

.expert-banner {
  font-family: Metal;
  color: red;
  margin-top: -6.5%;
  margin-left: 62vw;
  margin-bottom: 0vh;
  text-shadow: 2px 2px 2px black, 4px 4px rgba(255, 0, 0, 0.5), 6px 6px black,
    8px 8px rgba(255, 0, 0, 0.5);
  letter-spacing: 0.5vw;
  font-size: 6vw;
  cursor: default;
  transform: rotate(-15deg);
  z-index: 3;
}
.greeting {
  background-color: rgba(0, 0, 0, 0);
  color: cyan;
  text-shadow: none;
  font-family: metal;

  font-size: 2vh;
  letter-spacing: 1px;
  margin-top: 20px;
}
.logout-button {
  background: linear-gradient(to right, cyan, lime);
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
  filter: brightness(90%);
}
.logout-button:hover {
  filter: brightness(100%);
}
.logout-button:active {
  transform: translateY(1px);
}
/* Login */
.login-button {
  background-color: rgba(0, 0, 0, 0);
  color: cyan;
  cursor: pointer;
  font-family: metal;
  border: none;
  font-size: 2vh;
  letter-spacing: 1px;
  margin-top: 20px;
}
.login-button:hover {
  color: black;

  text-shadow: -1px -1px cyan, 1px 1px lime, -1px 1px hotpink, 1px -1px orange;
}
.login-popup {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: grey;
  border: 5px solid rgb(78, 78, 78);
  width: 180px;
  height: 220px;
  padding: 10px;
  z-index: 5;
  border-radius: 5px;
  text-align: right;
}
.login-inputs {
  margin-top: 5px;
  margin-bottom: 0px;
  width: 170px;
  color: gray;
  border: 5px solid gray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.login-forgot {
  margin-top: -10px;
  margin-bottom: 0px;
  padding-right: 0px;
  margin-right: 30px;

  transform: translateX(30px);
  width: 120px;
  font-size: 12px;
  cursor: pointer;
  border: none;
  background-color: grey;
}
.login-forgot:hover {
  color: blue;
}
.login-popup-button {
  margin-top: 10px;
  width: 180px;
  border: 5px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  cursor: pointer;
}

/* win spin */
@keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    scale: 120%;
  }
  100% {
    transform: rotateZ(180deg);
  }
}
.spin {
  animation: spin 1s linear;
}

@media only screen and (max-width: 700px) {
  .header {
    font-size: 9vw;
  }
}

@media only screen and (max-width: 500px) {
  .expert-banner {
    font-family: Metal;
    color: red;
    margin-top: -20px;
    margin-left: 0vw;
    margin-bottom: -2vh;
    text-shadow: 2px 2px 2px black, 4px 4px rgba(255, 0, 0, 0.5), 6px 6px black,
      8px 8px rgba(255, 0, 0, 0.5);
    letter-spacing: 3vw;
    font-size: 10vw;
    cursor: default;
    transform: rotate(0deg);
    z-index: 3;
  }
}
