@font-face {
  font-family: "monofett";
  src: url("./fonts/Monofett-Regular.ttf");
}
@font-face {
  font-family: "metal";
  src: url("./fonts/MetalMania-Regular.ttf");
}
@font-face {
  font-family: "Londrina";
  src: url("./fonts/LondrinaOutline-Regular.ttf");
}
.App {
  text-align: center;
}
.header {
  font-size: 6vw;
  text-shadow: -2px -2px cyan, 2px 2px lime, -2px 2px hotpink, 2px -2px orange;
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-family: monofett;
}

.boxDiv {
  /* display: block; */
  position: relative;
  display: flex;
  justify-content: center;
}

.checkNewButton {
  background-color: rgba(0, 255, 255, 0);
  border-color: cyan;
  height: 50px;
  width: 140px;
  letter-spacing: 5px;
  border-style: solid;
  border-width: 2px;
  margin-top: 20px;
  text-shadow: -2px -2px cyan, 2px 2px lime, -2px 2px hotpink, 2px -2px orange;
  box-shadow: -2px -2px cyan, 2px 2px lime, -2px 2px hotpink, 2px -2px orange;
  font-family: Londrina;
  font-size: xx-large;
  border-radius: 16px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.checkNewButton:active {
  background: linear-gradient(cyan, lime, hotpink, orange, cyan);
  color: black;
  text-shadow: none;
  transform: translateY(4px);
}

.img1 {
  border: solid cyan;
  max-width: 40vw;
  max-height: 40vw;
  /* margin-left: 7vw; */

  border-width: 10px 5px 10px 10px;
  border-radius: 2% 0% 0% 2%;
  box-shadow: 0 10px 40px -10px cyan;
}
.img2 {
  border: solid lawngreen;
  border-width: 10px 10px 10px 5px;
  max-width: 40vw;
  max-height: 40vw;
  border-radius: 0% 2% 2% 0%;
  box-shadow: 0 10px 40px -10px lawngreen;
}

.button {
  background-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  width: 4vw;
  height: 4vw;

  /* box-sizing: border-box; */
}

.button.selected {
  background-color: rgba(255, 3, 3, 0.55);
  border-color: lime;
  border-width: 1px;
}
.grid-box1 {
  margin-right: 5px;
}
.grid-box2 {
  margin-left: 5px;
}
.grid-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-row {
  margin-bottom: -3px;
}
